<div class="footer">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li><b>PRODUCTS</b></li>
                <li><a href="">Relational Database</a></li>
                <li><a href="">Graph Database</a></li>
                <li><a href="">Graph-based Solution</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>USE CASES</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>SERVICES</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            
            <ul>
                <li><b>RESOURCES</b></li>
                <li><a href="">Documentation</a></li>
                <li><a href="">Learn</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>BLOG</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><b>COMPANY</b></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 copyright">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>
            2023 by Bitnine Global Inc. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 social-media-links">
            <ul>
                <li>
                    <a class="" target="_blank" href="https://github.com/bitnine-oss/agensgraph">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="" target="_blank" href="https://www.youtube.com/channel/UCBJNYamALEqrfxiOCgYyP2g/featured?view_as=subscriber">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://www.linkedin.com/company/bitnineglobal/">
                        <i class='fab fa-linkedin-in'></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://www.facebook.com/bitninesns/">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://blog.naver.com/bitnine9">
                        <i class="fab fa-medium"></i>
                    </a>
                </li>
                <li>
                    <a href="" style="color: #fff; text-decoration: none;">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>