{% load i18n %}
<div class="footer">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li><b>{% translate "PRODUCTS" %}</b></li>
                <li><a href="">{% translate "Relational Database" %}</a></li>
                <li><a href="">{% translate "Graph Database" %}</a></li>
                <li><a href="">{% translate "Graph-based Solution" %}</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>USE CASES</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>{% translate "SERVICES" %}</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            
            <ul>
                <li><b>{% translate "RESOURCES" %}</b></li>
                <li><a href="">{% translate "Documentation" %}</a></li>
                <li><a href="">{% translate "Learn" %}</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href=""><b>{% translate "BLOG" %}</b></a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li><b>COMPANY</b></li>
                <li><a href="">{% translate "About us" %}</a></li>
                <li><a href="">{% translate "Contact" %}</a></li>
            </ul>
        </div>
        
    </div>
    <div class=" " id="lower">
    
            <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i>
            2023 by Bitnine Global Inc. All Rights Reserved.</p>
       
      
            <ul class="social-media-links">
                <li>
                    <a class="" target="_blank" href="https://github.com/bitnine-oss/agensgraph">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="" target="_blank" href="https://www.youtube.com/channel/UCBJNYamALEqrfxiOCgYyP2g/featured?view_as=subscriber">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://www.linkedin.com/company/bitnineglobal/">
                        <i class='fab fa-linkedin-in'></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://www.facebook.com/bitninesns/">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="w-socials-item-link" target="_blank" href="https://blog.naver.com/bitnine9">
                        <i class="fab fa-medium"></i>
                    </a>
                </li>
                <li>
                    <a href="" style="color: #fff; text-decoration: none;">CONTACT</a>
                </li>
            </ul>
        
    </div>
</div>