.register-page {
    height: 185vh;
}


@media (max-width: 1280px) and (max-height: 800px) {
    .register-page {
        height: 140vh;
    }
}

/* --------Media Query less than 1024px------------ */

@media (max-width: 1024px)  {
    .register-page {
        height: 150vh;
    }
   
}

@media (max-width: 1024px) and (max-height: 600px) {
    .register-page {
        height: 210vh;
    }
}

@media (max-width: 912px) and (max-height: 1368px) {
    .register-page {
        height: 100vh;
    }
}

@media (max-width: 820px) and (max-height: 1180px) {
    .register-page {
        height: 120vh;
    }
}

@media (max-width: 810px) and (max-height: 1080px) {
    .register-page {
        height: 125vh;
    }
}

@media (max-width: 800px) and (max-height: 1280px) {
    .register-page {
        height: 110vh;
    }
}

@media (max-width: 768px) and (max-height: 1024px) {
    .register-page {
        height: 140vh;
    }
}

@media (max-width: 540px) and (max-height: 720px) {
    .register-page {
        height: 180vh;
    }
}

@media (max-width: 428px) and (max-height: 926px) {
    .register-page {
        height: 140vh;
    }
}

@media (max-width: 414px) and (max-height: 896px) {
    .register-page {
        height: 150vh;
    }
}

@media (max-width: 412px) {
    
}

@media (max-width: 412px) and (max-height: 915px) {
    .register-page {
        height: 150vh;
    }
}

@media (max-width: 412px) and (max-height: 892px) {
    .register-page {
        height: 155vh;
    }
}


@media (max-width: 393px) {
    .register-page {
        height: 170vh;
    }
}

@media (max-width: 375px) and (max-height: 667px)  {
    .register-page {
        height: 200vh;
    }
}

@media (max-width: 360px) and (max-height: 760px)  {
    .register-page {
        height: 180vh;
    }
}

@media (max-width: 280px) and (max-height: 653px)  {
    .register-page {
        height: 220vh;
    }
}