* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monda", "Noto Sans KR", sans-serif;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

/* ---------- Navbar ----------- */

.navbar {
    background: black;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: black;
}

.navbar .content1 .search p{
    color: #fff;
}

.navbar .content1 .authentication li {
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
} 

.navbar .content2,
.navbar .content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-items ul,
.navbar .social-media-links ul{
    display: inline-flex;
}

.navbar-items li,
.social-media-links li{
    list-style: none;
}

.navbar-items li a,
.social-media-links li a{
    margin-left: 25px;
}

.navbar-items li a {
    text-transform: uppercase;
}

.navbar-items li a:hover {
    cursor: pointer;
    color: rgb(250, 196, 51);
}

.navbar .icon {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#try_free {
    background-color: #022EA9;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}


/* ---------- Section1 ----------- */

.home-page {
    padding-top: 150px;
    display: block;
}

.home-page .section-1 {
    height: 80vh;
}

.home-page .section-1 .row {
    display: flex;
    flex-direction: row;
}

.home-page .section-1 .row .section-1-content {
    text-align: center; 
    padding: 0px 140px 0px 140px;
    justify-content: center;
}

.home-page .section-1 .row .section-1-content img {
    margin: 0px 0px 20px 0px;
}

.home-page .section-1 .row .section-1-content .section-1-inner {
    padding: 0px 140px 0px 100px;
}

.home-page .section-1 .section-1-content-paragraph p{
    padding: 20px 0px 20px 0px;
    color: rgb(102, 102, 102);
}

.home-page .section-1 .row .section-1-content a{
    text-decoration: none;
    color: #fff;
}

.home-page .section-1 .row .section-1-content ul {
    display: inline-flex;
    margin-top: 50px
}

.home-page .section-1 .row .section-1-content ul li {
    list-style: none;
    padding: 15px 40px 15px 40px;
    background-color: rgb(2, 46, 169);
    margin-left: 20px;
    border-radius: 10px;
}

/* ---------- Section2 ----------- */

.home-page .section-2 {
    text-align: center;
    background-color: rgb(243, 246, 251);
    height: 120vh;
    padding: 100px 0px 150px 0px;
}

.home-page .section-2 img{
    width: 900px;
    height: 650px;
}


/* ---------- Section3 ----------- */

.home-page .section-3 {
    text-align: center;
    padding: 60px 0px 60px 0px;
    justify-content: center;
} 

.home-page .section-3 h2 {
    padding: 10px 0px 15px 0px;
}

.home-page .section-3 p {
    padding: 5px;
    color:rgb(102, 102, 102);
}

.home-page .section-3 img {
    /* width: 170vh;
    height: 80vh; */
    padding-top: 20px;
    width: 170vh;
    height: 70vh;
}

/* ---------- Section4 ----------- */

.home-page .section-4 {
    text-align: center;
    background-color: rgb(243, 246, 251);
    padding: 50px 0px 50px 0px;
}

.home-page .section-4 h2, h4, p {
    padding: 10px;
}

.home-page .section-4 h4 {
    color:rgb(68, 68, 68);
}

.home-page .section-4 p {
    color:rgb(102, 102, 102);
}

.home-page .section-4 h4 {
    text-decoration: underline;
}

.home-page .section-4 .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-page .section-4 .col-md-4 {
    width: 350px;
    height: 250px;
    background-color: #fff;
    margin-right: 20px;
    border: 1.5px solid rgb(232, 232, 232);
    border-radius: 10px;
    text-align: center;
    padding: 40px 30px 50px 30px;
    box-shadow: 0 7px 10px rgb(68, 68, 68);
    transition: 0.5s ease-in-out;
}

.home-page .section-4 .row .col-md-4 .card {
    height: 100%;
    width: 100%; 
    position: relative;
    /* transition: opacity 5s; */
    /* transform-style: preserve-3d; */
}

.home-page .section-4 .row .col-md-4 .card:hover .back {
    cursor: pointer;
    transition: opacity .75s ease-in-out;
    opacity: 1;
} 

.home-page .section-4 .row .col-md-4 .card .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.home-page .section-4 .col-md-4 .card .front img {
    width: 230px;
    height: 150px;
}

.home-page .section-4 .col-md-4 .card:hover .front img {
   opacity: 0;
}

.home-page .section-4 .col-md-4 .card .back {
    background-color: #fff;
    /* transform: rotateY(180deg); */
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    opacity: 0;
}

.home-page .section-4 .row .col-md-4 .card .back p {
    color: rgb(102, 102, 102);
    padding: 0px 0px 0px 0px;
}



/* ---------- Section5 ----------- */

.home-page .section-5 {
   text-align: center;
   padding: 50px 0px 50px 0px;
}

.home-page .section-5 .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-page .section-5 .row .col-md-12 .section-5-content {
    padding: 10px 150px 0px 150px;
    color: rgb(102, 102, 102);
}

.home-page .section-5 .col-md-10 {
    padding: 0px 140px 0px 140px;
}

.home-page .section-5 .col-md-6 {
    padding: 10px;
}

.home-page .section-5 img{
    width: 650px;
    height: 550px;
}

.home-page .section-5 .col-md-6 .row{
    display: flex;
    flex-direction: column;
}

.home-page .section-5 .col-md-6 .row .col-md-2 {
    width: 500px;
    height: 95px;
    justify-content: center;
    margin-bottom: 10px;
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card {
    height: 100%;
    width: 100%;
    /* padding: 20px 100px 20px 100px; */
    border: 2px solid rgb(0, 130, 203);
    border-radius: 10px;
    position: relative;
    transition: transform 750ms;
    transform-style: preserve-3d;
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card p{
    color: rgb(0, 130, 203);
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
    
} 

.home-page .section-5 .col-md-6 .row .col-md-2 .card .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card .front {
    padding-top: 25px;
}


.home-page .section-5 .col-md-6 .row .col-md-2 .card .back {
    background-color: rgb(0, 130, 203);
    transform: rotateY(180deg);
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card .back ul {
    text-align: left;
    list-style: none; /* Remove default bullets */
    padding: 10px 5px 10px 5px;
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card .back ul li {
    padding: 0px 0px 0px 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 6.5px;
}

  
.home-page .section-5 .col-md-6 .row .col-md-2 .card .back ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}

.home-page .section-5 .col-md-6 .row .col-md-2 .card .back p {
    color: #fff;
    padding: 0;
}


/* ---------- Footer ----------- */

.home-page .footer {
    background-color: rgb(30, 35, 41);
}

.home-page .footer .row {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    
}

.home-page .footer .row .col-md-2 p {
    color: #fff;
}

.home-page .footer .row .col-md-2 li {
    padding-top: 10px;
}

.home-page .footer .row .col-md-2 li a {
    color: #fff;
    text-decoration: none;
}

.home-page .footer .row li {
    color: #fff;
}

.home-page .footer .row li {
    list-style: none;
}

.home-page .footer .row .social-media-links ul{
    display: inline-flex;
}

.home-page .footer .row .social-media-links ul li a i{
    color: #fff;
}

.home-page .footer .row .social-media-links ul li {
    margin-left: 10px;
    text-align: left;
}
.home-page .footer .row .copyright {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.home-page .footer .row .copyright p {
    color: rgb(171, 171, 171);
}


@media (max-width: 1024px)  {
    body {
        overflow-x: hidden;
    }

    .navbar {
        background: white;
    }

    .navbar-items {
        /* display: none; */
        position: fixed;
        top: -100%;
        left: 0;
        
        /* max-width: 400px; */
        background: black no-repeat;
        width: 100%;
        display: block;
        padding: 5px 0px;
        text-align: left;
        margin-top: 120px;
        transition: all 0.3s ease;
    }

    .navbar .icon i {
        color: black;
    }

    .navbar .cancel-btn i {
        color: #fff;
    }


    .navbar.sticky .icon i{
        color: #fff;
    }

    .navbar-items .icon {
        text-align: center;
    }

    .navbar-items.active {
        top: 0%;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: column;
    }

    .navbar-items ul li {
        margin: 25px 0px 8px 0px;
    }

    .navbar .icon.hide {
        display: none;
    }

    .navbar .icon {
        display: block;
    }

    /* --------Section 1 --------- */

    .home-page {
        padding-top: 130px;
        display: block;
    }

    .home-page .section-1 .row .section-1-content {
        padding: 0px 0px 0px 0px;
    }

    .home-page .section-1 {
        height: 40vh;
    }

    .home-page .section-1 .row .section-1-content .section-1-inner {
        padding: 0px 60px 0px 60px;
    }

    .home-page .section-1 .section-1-content-paragraph p{ 
        font-size: 14px;
        padding: 10px 0px 10px 0px;
    }

    .home-page .section-1 .row .section-1-content ul li {
        margin-left: 25px;
    }

    /* --------Section 2 --------- */

    .home-page .section-2 {
        height: 65vh;
        padding: 80px 0px 40px 0px;
    }
    
    .home-page .section-2 img{
        width: 700px;
        height: 550px;
    }

    /* ---------- Section 3 ----------- */

    .home-page .section-3 {
        height: 50vh;
    } 

    .home-page .section-3 p {
        font-size: 13px;
    }

    .home-page .section-3 img {
        padding-top: 20px;
        width: 60vh;
        height: 25vh;
    }

    /* ---------- Section 4 ----------- */

    .home-page .section-4 .row {
        display: flex;
        flex-direction: column;
    }

    .home-page .section-4 .col-md-4 {
        position: center;
        margin: 20px 120px 20px 120px;
    }

    /* ---------- Section 5 ----------- */
    .home-page .section-5 .row .col-md-12 .section-5-content {
        padding: 10px 100px 0px 100px;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }

    .home-page .section-5 .row .col-md-12 .row {
        display: flex;
        flex-direction: column;
    }

    .home-page .section-5 .row .col-md-12 .row .col-md-6 .heading {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 25.2px;
        color: rgb(68, 68, 68);
    }

    .home-page .section-5 .row .col-md-12 .row .col-md-6 h5 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 25.2px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }

    .home-page .section-5 .row .col-md-12 .row .col-md-6 h5 strong {
        color: rgb(0, 130, 203);
    }

    .home-page .section-5 .col-md-6 .row .col-md-2 {
        width: 700px;
        height: 75px;
        margin: 10px 10px 10px 10px;
        justify-content: center;
        align-items: center;
    }

    .home-page .section-5 .col-md-6 .row .col-md-2 .card .front {
        padding-top: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.1px;
    }

    /* --------Footer -------- */

    .home-page .footer .row .col-md-2, .social-media-links {
        display: none;
    }

}

@media (min-width: 900px) and (max-width: 1024px)   {

}

